html,
body {
  margin: 0;
}

.page {
    color: #fff;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
}

.header {
    height: 80px;
    width: calc(100% - 10px * 2);
    margin: 0 auto;
    border-bottom: #fff 2px solid;
    background-color: #000;
    display: flex;
    position: fixed;
    top: 0;

}

.heading {
    align-self: center;
    font-size: 32px;
    font-weight: normal;
    margin: 10px;
    word-wrap: break-all;
    hyphens: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joke {
    width: 100%;
    max-width: 1280px;
    font-size: 72px;
    line-height: 1;
    margin: 10px;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
    padding: 160px 0 240px 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .joke {
        font-size: 48px;
        text-align: left;
        padding: 80px 0 160px 0;
    }   
}

.setup {
    margin: 0 0 80px;
}

.punchline {
    margin: 0;
    color: #808080;
}

.get-joke-btn {
    margin: 20px;
    height: 80px;
    outline: 2px solid #fff;
    width: calc(100% - 10px * 2);
    max-width: 640px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #000;
    cursor: pointer;
    font-size: 24px;
    position: fixed;
    bottom: 40px;
    transition: .25s;
}

.get-joke-btn:active {
    background-color: #fff;
    color: #000;
    outline: 2px solid #fff;
}

.footer {
    width: calc(100% - 10px * 2);
    height: 40px;
    border-top: 2px #808080 solid;
    background-color: #000;
    display: flex;
    position: fixed;
    bottom: 0;

}

.footer-copyright {
    align-self: center;
    margin: 5px;
    font-size: 12px;
    color: #808080;

}

.footer-source {
    align-self: center;
    margin: 5px 0 5px auto;
    font-size: 12px;
    font: inherit;
    color: #808080;
}

